#uphead {
  background-color: #0b2c3d;
  width: 100%;
  height: 41px;
  font-family: 'Nunito Sans', sans-serif;
}

#upheadleft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
}

#upheadleft li a {
  text-align: center;
  text-decoration: none;
  list-style: none;
  color: white;
  margin-right: 25px;
  font-size: 14px;
}

#upheadleft li a:hover {
  color: #FF5A3C;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#upheadleft li a i {
  color: #FF5A3C;
  margin-right: 5px;
}

#headsosialicons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  list-style: none;
  text-decoration: none;
}

#headsosialicons li i {
  color: white;
  margin-right: 13px;
}

.addBtn {
  padding: 8px 18px;
  background-color: #FF5A3C;
  height: 41px;
  margin-left: 27px;
  cursor: pointer;
}

.addBtn:hover {
  background-color: #c43f28;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.addBtn a {
  color: white;
  text-decoration: none;
}

#downhead {
  width: 100%;
  height: 117px;
  padding: 37px 10px;
}

#nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#nav li {
  list-style: none;
  margin-right: 19px;
  font-size: 18px;
  font-weight: 490;
  cursor: pointer;
}

#nav li:hover {
  color: #FF5A3C;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#icondown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

#icondown li {
  color: black;
  list-style: none;
  padding: 6px 15px;
  margin-left: 10px;
  cursor: pointer;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#icondown li:hover {
  background-color: #FF5A3C;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#contactitems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contactitems li {
  list-style: none;
  margin-right: 20px;
}

#contactitemsli1 {
  color: gray;
  cursor: pointer;
  font-weight: 700;
}

#contactitemsli1:hover {
  color: #FF5A3C;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#contactitemsli2 {
  color: black;
  font-weight: 500;
}

#contactitemsli1::after {
  margin-left: 15px;
  content: '>';
  font-weight: 700;
  font-family: "Font Awesome 5 Free";
}

#contactitemsli1 i {
  color: #FF5A3C;
}

.textcontact {
  margin-top: 100px;
}

.contacth1 {
  margin-left: 25px;
  font-weight: 700;
  margin-bottom: 40px;
}

.boxinfo {
  padding: 50px 30px 25px;
  border: 1px solid rgba(150, 148, 148, 0.267);
  max-width: 400px;
  max-height: 350px;
  margin-right: 25px;
}

.boxinfo1 {
  width: 370px;
  height: 320px;
  text-align: center;
}

.quote-box {
  border: 1px solid gray;
  width: 90%;
  margin: auto;
  margin-top: 50px;
}

.quote {
  padding: 50px 50px;
}

.quote .h1div {
  border-left: 2.5px solid #FF5A3C;
}

.quote .h1div h1 {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 25px;
}

.selectinput:focus {
  border-color: #FF5A3C;
}

.inputs {
  width: 520px;
  height: 65px;
  outline: none;
}

.inputs:focus {
  border-color: #FF5A3C;
}

.inputAll {
  position: relative;
}

#icon-1 {
  color: #FF5A3C;
  font-size: 20px;
  position: absolute;
  top: 26px;
  left: 480px;
}

#icon-2 {
  color: #FF5A3C;
  font-size: 20px;
  position: absolute;
  top: 26px;
  right: 20px;
}

#icon-3 {
  color: #FF5A3C;
  font-size: 20px;
  position: absolute;
  top: 112px;
  left: 480px;
}

#icon-4 {
  color: #FF5A3C;
  font-size: 20px;
  position: absolute;
  top: 112px;
  right: 20px;
}

#icon-5 {
  color: #FF5A3C;
  font-size: 20px;
  position: absolute;
  top: 190px;
  right: 20px;
}

.selectinput {
  width: 520px;
  height: 65px;
  outline: none;
}

.inputs::-webkit-input-placeholder {
  padding-left: 30px;
}

.inputs:-ms-input-placeholder {
  padding-left: 30px;
}

.inputs::-ms-input-placeholder {
  padding-left: 30px;
}

.inputs::placeholder {
  padding-left: 30px;
}

#textarea {
  margin-top: 0px;
  margin-bottom: 30px;
  width: 1063px;
  height: 150px;
  outline: none;
}

#textarea:focus {
  border-color: #FF5A3C;
}

.getBtn {
  margin-top: 20px;
  padding: 15px 40px;
  background-color: #FF5A3C;
  color: white;
}

.getBtn:hover {
  margin-top: 20px;
  padding: 15px 40px;
  background-color: white;
  border: 1px solid black;
}

.leftBtnCheck {
  margin-top: 80px;
}

.rightImgDrag {
  width: 62%;
}

.rightImgDrag .imgDragBoxUpload {
  position: relative;
}

.rightImgDrag .imgDragBoxUpload .uploadAlt {
  cursor: pointer;
  position: absolute;
  top: 170px;
  width: auto;
  right: 20px;
  color: blue;
  font-size: 60px;
}

.rightImgDrag .imgDragBoxUpload .imgDragBox {
  width: 100%;
  height: 300px;
}

.img-item {
  width: 200px;
  height: 200px;
}

* li {
  list-style: none;
}

footer {
  background-color: #171B2A;
  width: 100%;
  height: 600px;
  margin-top: -200px;
}

footer .row {
  padding-top: 90px;
  --bs-gutter-x: 0rem;
}

footer .text {
  color: white;
  font-size: 16px;
}

footer .contactList li {
  padding-top: 10px;
}

footer .contactList li a {
  color: white;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

footer .contactList li a:hover {
  color: #FF5A3C;
}

footer .contactList li a i {
  color: #FF5A3C;
  padding-right: 10px;
}

footer .socialMedia a {
  color: white;
}

footer .company .title {
  font-size: 30px;
  color: white;
  font-weight: 700;
}

footer .company .aboutList li {
  padding-top: 20px;
}

footer .company .aboutList li a {
  text-decoration: none;
  color: white;
}

footer .company .aboutList li a:hover {
  color: #FF5A3C;
}

footer .company .aboutList li:hover {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
}

footer .company .aboutList li:hover::before {
  content: "//";
  font-size: 20px;
  color: #FF5A3C;
}

footer .services .title {
  font-size: 30px;
  color: white;
  font-weight: 700;
}

footer .services .serviceList li {
  padding-top: 20px;
}

footer .services .serviceList li a {
  text-decoration: none;
  color: white;
}

footer .services .serviceList li a:hover {
  color: #FF5A3C;
}

footer .services .serviceList li:hover {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
}

footer .services .serviceList li:hover::before {
  content: "//";
  font-size: 20px;
  color: #FF5A3C;
}

footer .customer .title {
  font-size: 30px;
  color: white;
  font-weight: 700;
}

footer .customer .customerList li {
  padding-top: 20px;
}

footer .customer .customerList li a {
  text-decoration: none;
  color: white;
}

footer .customer .customerList li a:hover {
  color: #FF5A3C;
}

footer .customer .customerList li:hover {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
}

footer .customer .customerList li:hover::before {
  content: "//";
  font-size: 20px;
  color: #FF5A3C;
}

footer .newsLetter .title {
  font-size: 30px;
  color: white;
  font-weight: 700;
}

footer .newsLetter .text {
  font-size: 16px;
}

footer .newsLetter .text p {
  margin-left: 0px;
  padding-right: 14px;
}

footer .newsLetter .email input {
  height: 58px;
  width: 360px;
  border: none;
}

footer .newsLetter .email ::-webkit-input-placeholder {
  padding-left: 20px;
}

footer .newsLetter .email :-ms-input-placeholder {
  padding-left: 20px;
}

footer .newsLetter .email ::-ms-input-placeholder {
  padding-left: 20px;
}

footer .newsLetter .email ::placeholder {
  padding-left: 20px;
}

footer .newsLetter .email a {
  margin-left: -5px;
  background-color: #FF5A3C;
  color: white;
  padding: 20.58px;
}

footer .newsLetter .secondTitle {
  color: white;
  font-size: 20px;
  font-weight: 600;
}

footer .newsLetter .image {
  width: 80%;
}

footer .newsLetter .image img {
  width: 100%;
}

footer .footerBottom span {
  color: white;
  font-size: 16px;
  font-weight: 600;
}

footer .footerBottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
}

footer .footerBottom ul li {
  padding: 0px 15px;
}

footer .footerBottom ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

footer .footerBottom ul li a:hover {
  color: #FF5A3C;
}
/*# sourceMappingURL=style.css.map */